body{
	padding-top: 60px;
}

.new-post-bar{
	text-align:right;
	margin-bottom: 18px;
}

.no-bottom-space{
	margin-bottom: 0;
}

.profile{
	margin: 0 auto;
	width: 100px;
}

.article{
	margin: 18px auto;
}
