
// Import Normalize.css
//@import "normalize/normalize";

@import "settings";
@import "foundation";

//Alert Box
#alert {
  display: none;
}

// Main Frame
#wrapper {
  margin-top: 2em;
  margin-bottom: 1em;
}

// Forum Nav
.forum-nav {
  text-align: right;

  margin: 0.5em auto;
}

// Post
#posts, #create-post, #create-thread, .post {
  margin-top: 1em;
}
