<div id="chid-forums" class="row">
</div>

<div id="threads" class="row">
  <div class="forum-nav columns twelve">
   <a class="small button" href="#/forum/<%= forumID %>/thread/new">New Thread</a>
  </div>
  <table class="twelve">
    <thead>
      <th>Name</th>
      <th>Last Update</th>
    </thead>
  <% if(_.size(threads) > 0){ %>
    <tbody>
    <% _.each(threads, function(thread){ %>
      <tr class="thread">
        <td><a href="#/thread/<%= thread.get('id') %>"><%= thread.get('subject') %></a></td>
        <td><%= thread.get('updated_at') %></td>
      </tr>
    <% }) %>
    </tbody>
  <% }else{ %>
    <tr>
      <td colspan="2">
        No Thread in this forum
      </td>
    </tr>
  <% } %>
  </table>
</div>
