<div class="row post" id="post-id-<%= id %>">
  <div class="columns two">
    <div class="row">
      <div class="columns twelve th">
        <img class="atavar" src="http://www.gravatar.com/avatar/<%= gavatar %>&s=200" alt="<%= author %>" />
      </div>
      <div class="columns twelve">
        <strong class="nickname"><%= author %></strong>
      </div>
    </div>
  </div>
  <div class="columns ten">
    <div class="panel">
      <p>
        <%= content %>
      </p>
    </div>
    <div class="meta">
      <% if(is_author) { %>
      <a class="alert small button delete" href="#/post/<%= id %>/delete" data-id="<%= id %>">Delete</a>
      <% } %>
    </div>
  </div>
</div>
