<div id="topic" class="row">
  <div class="columns two">
    <div class="row">
      <div class="columns twelve th">
        <img class="avatar" src="http://www.gravatar.com/avatar/<%= gavatar %>&s=200" alt="<%= author %>" />
      </div>
      <div class="columns twelve">
        <strong class="nickname"><%= author %></strong>
      </div>
    </div>
  </div>
  <div class="columns ten">
    <h2><%= subject %></h2>
    <%= content %>
  </div>
</div>
<div id="posts">
</div>
<div class="row">
  <div class="columns twelve">
    <form id="create-post" method="POST" action="thread/<%= threadID %>/post/new">
      <textarea name="content" placeholder="Message"></textarea>
      <button type="submit" class="small button">Reply</button>
    </form>
  </div>
</div>
